.podcast {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #DEE2E6;
  padding: 1rem;
  font-size: 0.9rem;
  
  &__image {
    margin-right: 1em;
    margin: 0;
    width: 80px;
    height: 80px;
    margin-right: 1rem;
    border-radius: 3px;
  }
  
  &__content {
    flex: 1;
  }

  &__name {
    font-size: 1.4rem;
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
    font-weight: 200;
    a { 
      text-decoration: none; 
      color: $link-color;
      @include bp-large {
          color: inherit;
      }
      &:after {
          transition: all 0.15s ease-in;
          opacity: 0;
          content: ' →';
          display: inline-block;
          position: absolute;
      }
    }
  }
  &__desc {
    margin: 0 0 0.25rem;
  }
  &__link {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0.75rem;
    li {
      display: inline-block;
      a { 
        text-decoration: none;
        @include gradient-link;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    li:not(:first-child):before { 
        color: $link-color;
        content: ' • '; 
        opacity: 0.2;
    }
  }
}
.podcast:hover {
    .podcast__name { 
        a { 
            color: $link-color; 
            &:after {
                opacity: 1;
                transform: translateX(5px);
            }
        }
    }
}