<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Awesome Podcasts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class="container">
			<header class="site-header">
				<h1>Awesome Podcasts</h1>
				<h2>A curated list of podcasts for designers, developers, product managers, entrepreneurs, startups etc.</h2>
			</header>
			
			<!-- <section>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Design</a>User Experience, User Interface, Print Design, Graphic Design etc.</li>
					<li><a href="#">Development</a>Programming Languages, Workflows, Tools etc.</li>
					<li><a href="#">Design and Dev</a>Front End, Design, Code etc.</li>
					<li><a href="#">Business</a>Entrepreneurship, Business, Startups, Product etc.</li>
					<li><a href="#">Lifestyle</a>Productivity, Focus, Lifestyle etc.</li>
				</ul>
			</section> -->
			
			<section class="podcast-section">
				<h2><span>Design</span></h2>
				<ul class="podcast-list">
						{{#with podcasts}}
						  {{#eachWithSort podcasts "name"}}
						    {{#is category "Design"}}
								
								<li>{{> item}}</li>

						    {{/is}}
						  {{/eachWithSort}}
						{{/with}}
				</ul>
			</section>
			
			<section class="podcast-section">
				<h2><span>Design and Dev</span></h2>
				<ul class="podcast-list">
						{{#with podcasts}}
						  {{#eachWithSort podcasts "name"}}
						  {{#is category "Design and Dev"}}
						
							<li>{{> item}}</li>

						  {{/is}}
						  {{/eachWithSort}}
						{{/with}}
				</ul>
			</section>
			
			<section class="podcast-section">
				<h2><span>Business</span></h2>
				<ul class="podcast-list">
						{{#with podcasts}}
						  {{#eachWithSort podcasts "name"}}
						  {{#is category "Business"}}
						
							<li>{{> item}}</li>

						  {{/is}}
						  {{/eachWithSort}}
						{{/with}}
				</ul>
			</section>
			
			<section class="podcast-section">
				<h2><span>Lifestyle</span></h2>
				<ul class="podcast-list">
						{{#with podcasts}}
						  {{#eachWithSort podcasts "name"}}
						  {{#is category "Lifestyle"}}
						
							<li>{{> item}}</li>

						  {{/is}}
						  {{/eachWithSort}}
						{{/with}}
				</ul>
			</section>
					
			<footer class="site-footer">
				<p class="disclaimer">Due to the nature of podcasts, it is difficult to cleanly classify them into different categories. Most podcast cover a wide range of topics and it blurs the boundries between topics. This is a very broad categorization and there is bound to be some overlap between categories. For example - You may find a podcast in the design category which also talks about lifestyle and business. Incase you disagree with the categorization and feel that a certain podcasts would be a better fit in a different category, please feel free to open an issue <a href="https://github.com/Ghosh/awesome-podcasts/issues">here</a>. Pull requests are most welcome.</p>
                <p class="colophon">
                    A little thing by <a href="https://twitter.com/_ighosh">@_ighosh</a>
                </p>
			</footer>	
			
		</div>
				
    </body>
		
</html>

