<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Awesome Podcasts</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="inpage-nav">
            <ul class="container">
                <li><a href="#design" class="inpage-nav__link">Design</a></li>
                <li><a href="#dev" class="inpage-nav__link">Development</a></li>
                <li><a href="#design-dev" class="inpage-nav__link">Design & Dev</a></li>
                <li><a href="#business" class="inpage-nav__link">Business</a></li>
                <li><a href="#lifestyle" class="inpage-nav__link">Lifestyle</a></li>
                
            </ul>
        </nav>
		<div class="container">
			<header class="site-header">
				<h1>Awesome Podcasts</h1>
				<h2>A curated list of podcasts for designers, developers, product managers, entrepreneurs, startups etc.</h2>
			</header>
			
			<!-- <section>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Design</a>User Experience, User Interface, Print Design, Graphic Design etc.</li>
					<li><a href="#">Development</a>Programming Languages, Workflows, Tools etc.</li>
					<li><a href="#">Design and Dev</a>Front End, Design, Code etc.</li>
					<li><a href="#">Business</a>Entrepreneurship, Business, Startups, Product etc.</li>
					<li><a href="#">Lifestyle</a>Productivity, Focus, Lifestyle etc.</li>
				</ul>
			</section> -->
            
            <section>

    			<section class="podcast-section" id="design">
    				<h2><span>Design</span></h2>
    				<ul class="podcast-list">
    						{{#with podcasts}}
    						  {{#eachWithSort podcasts "name"}}
    						    {{#is category "Design"}}
    								
    								<li>{{> podcast}}</li>

    						    {{/is}}
    						  {{/eachWithSort}}
    						{{/with}}
    				</ul>
    			</section>

                <section class="podcast-section" id="dev">
    				<h2><span>Development</span></h2>
    				<ul class="podcast-list">
    						{{#with podcasts}}
    						  {{#eachWithSort podcasts "name"}}
    						  {{#is category "Development"}}
    						
    							<li>{{> podcast}}</li>

    						  {{/is}}
    						  {{/eachWithSort}}
    						{{/with}}
    				</ul>
    			</section>
    			
    			<section class="podcast-section" id="design-dev">
    				<h2><span>Design and Dev</span></h2>
    				<ul class="podcast-list">
    						{{#with podcasts}}
    						  {{#eachWithSort podcasts "name"}}
    						  {{#is category "Design and Dev"}}
    						
    							<li>{{> podcast}}</li>

    						  {{/is}}
    						  {{/eachWithSort}}
    						{{/with}}
    				</ul>
    			</section>
    			
    			<section class="podcast-section" id="business">
    				<h2><span>Business</span></h2>
    				<ul class="podcast-list">
    						{{#with podcasts}}
    						  {{#eachWithSort podcasts "name"}}
    						  {{#is category "Business"}}
    						
    							<li>{{> podcast}}</li>

    						  {{/is}}
    						  {{/eachWithSort}}
    						{{/with}}
    				</ul>
    			</section>
    			
    			<section class="podcast-section" id="lifestyle">
    				<h2><span>Lifestyle</span></h2>
    				<ul class="podcast-list">
    						{{#with podcasts}}
    						  {{#eachWithSort podcasts "name"}}
    						  {{#is category "Lifestyle"}}
    						
    							<li>{{> podcast}}</li>

    						  {{/is}}
    						  {{/eachWithSort}}
    						{{/with}}
    				</ul>
    			</section>
			
            </section>
            
			<footer class="site-footer">

				<p class="disclaimer">
					Due to the nature of podcasts, it is difficult to classify distinctly into separate buckets. Most podcasts cover a wide range of topics and it blurs the boundries between categories. This is a very broad categorization and there is bound to be some overlap.
				</p>

        <p class="colophon">
          Yet another thing by <a href="https://twitter.com/kns008" title="Kamal on Twitter">Kamal</a> and <a href="https://twitter.com/_ighosh">Ghosh</a>
        </p>

			</footer>	
			
		</div>
        
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="main.js"></script>
				
    </body>
		
</html>

